// Font color tokens
$black: #333;
$light-black: #4F4F4F;
$dark-gray: #555555;
$gray: #828282;
$light-gray: #BDBDBD;
$very-light-gray: #F1F1F1;
$extra-light-gray: #F6F6F6;

// Background color tokens
$light-background: #F9F9F9;
$dark-background: #333;
$white: #fff;
$white-gradient: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);

// Blue accent
$primary-blue: #007BFF;  
$secondary-blue: #4A90E2;
$dark-blue: #003366; 
$light-blue: #E0F4FF;  
$blue-gradient:(45deg, #007BFF, #003366);





