.navcontainer {
    display: flex;
    height:58px;
    background: transparent;
    flex-direction: column;
    position: fixed;
    width:100vw;
    transform: translate3d(0, 0, 0);
}

.navbar {
    font-size: 16px;
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 20px;
    left: 50%;          
    transform: translateX(-50%);
    background: #F2F2F2;
    border-radius: 24px;
    padding: 0px 16px 0px;
    width: 380px;
    height: 41px;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    overflow-x: hidden;

    @media(max-width: 540px){
        width: 160px;
    }
}

.navlink {
    text-decoration: none;
    color: #000;
    padding: 4px 8px;
    position: relative;
    font: Inter;
    &__label{
        z-index: 3;
        position: relative;
    }
    &__icon{
        height: auto;
        z-index: 3;
        position: relative;
        display: inline-flex; 
        align-items: center; 
        svg {
            color:#333;
            height: 16px; 
            width: auto;  
        }
    }
    &__wrapper{
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 4px;
    }
}

.pill{
    position: absolute; 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; 
    z-index: 1;
    border-radius: 9999px; 
    background-color: #fff; 
}
