@import './../../styles/variables';

.footer {
    width: 100%;
    padding: $space-12 $space-4 $space-8;
    margin-top: auto;
    border-top: 1px solid $border-light;

    &__content {
        max-width: $container-narrow;
        margin: 0 auto;
        text-align: center;
    }

    &__text {
        font-size: $text-sm;
        color: $neutral-400;
        margin: 0;
        line-height: $leading-normal;
    }

    &__link {
        color: $neutral-500;
        text-decoration: none;
        font-weight: $font-medium;
        transition: color $transition-fast;

        &:hover {
            color: $black;
        }
    }
}
