:root {
  font-family: 'Inter', sans-serif;
  font-feature-settings: "ss01" on, "ss02" on, "cv01" on, "cv02" on;
  color: #213547;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  background:#F9F9F9;
}
